<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>emergency compliment</title>
    <style media="screen">
      html {
        background-color: <%= color %>;
        text-align: center;
        font-family: sans-serif;
        margin-top: 4rem;
      }
    </style>
  </head>
  <body>
    <h2>add an emergency compliment</h2>
    <p>You added this compliment:</p>
    <p><%= newCompliment %></p>
  </body>
</html>
